body {
  font-family: 'Abel';
  src: url('/Font/Abel-Bold.otf');
}

/* VERSION MOBILE APPS */
.navbar {
  background: #002e6b;
}

.navbar-brand span {
  background: url('/img/menu_alt_02.svg');
}
.navbar-brand span:hover {
  background: url('/img/icon_nav_hover.svg');
}

/* Navbar */
.nav-link {
  margin-right: 30px;
  color: white !important;
}
.nav-link:hover {
  margin-right: 30px;
}

.btn-contact {
  background: linear-gradient(241.98deg, #fff965 9.58%, #79ff76 86.42%);
  border-radius: 5px;
  width: 100%;
  color: #000000;
}

.btn-contact:hover {
  background: linear-gradient(113.74deg, #fff965 12.6%, #79ff76 140.37%);
  border-radius: 5px;
}

.btn-contact-page {
  background: linear-gradient(241.98deg, #fff965 9.58%, #79ff76 86.42%);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  width: 100%;
}

.btn-contact-page:hover {
  background: linear-gradient(113.74deg, #fff965 12.6%, #79ff76 140.37%);
  border-radius: 5px;
}

.btn-insight {
  background: linear-gradient(182.09deg, #fff965 -75.57%, #ff7676 125.16%);
  width: 30%;
}

.btn-insight:hover {
  background: linear-gradient(102.47deg, #fff965 4.3%, #ff7676 117.73%);
}

.btn-insight-1:hover {
  background: linear-gradient(182.09deg, #fff965 -75.57%, #ff7676 125.16%);
}

.button-arrow:hover {
  transition: 0.9s;
  background: -webkit-linear-gradient(#ddd840, #ff3131 125.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-insight:hover {
  transition: 0.9s;
  background: -webkit-linear-gradient(#ddd840, #ff3131 125.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-arrow img:hover {
  padding-left: 30px;
  transition: 0.9s;
}

.success {
  margin-top: 40px;
}

.btn-success-1 {
  background: linear-gradient(241.98deg, #fff965 9.58%, #79ff76 86.42%);
  border-radius: 5px;
  color: #000000;
}
.btn-success-1:hover {
  background: linear-gradient(113.74deg, #fff965 12.6%, #79ff76 140.37%);
  border-radius: 5px;
}

.btn-succes-2:hover {
  background: -webkit-linear-gradient(#ddd840, #ff3131 125.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-insight:hover {
  opacity: 29px;
}
/* End Navbar */

/* Halaman Solution */
.brand-partner img {
  width: 120px;
}

/* Header */
.jumbotron {
  background: url('https://alfinagamulya.github.io/bangundatacenter/img/banner.svg ');
  background-size: cover;
  height: 550px;
  text-align: center;
}

.contact-us .display-4 {
  color: white;
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
  font-size: 38px;
}
.home .display-4 {
  color: white;
  text-align: center;
  margin-top: 60px;
  font-weight: bold;
  font-size: 48px;
}

.article .display-4 {
  font-size: 34px !important;
}

.lead {
  color: #d6d6d6;
  text-align: center;
  padding-top: 18px;
  font-size: 14px;
}

.btn-second {
  width: 50%;
  background: linear-gradient(182.09deg, #fff965 -75.57%, #ff7676 125.16%);
}
.btn-second:hover {
  background: linear-gradient(102.47deg, #fff965 4.3%, #ff7676 117.73%);
}
/* End Header */

/* Client Logo */
.clients {
  margin-top: -80px;
}

/* footer */
.footer {
  background: url(https://alfinagamulya.github.io/bangundatacenter/img/footer.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.footer a:hover {
  background: -webkit-linear-gradient(#fff965, #79ff76);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sosial a {
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  color: white;
  font-size: 20px;
  margin-right: 15px;
  padding: 3px 8px;
}
.sosial a:hover {
  width: 30px;
  text-align: center;
  color: black;
  background: linear-gradient(95.26deg, #fff965 4.26%, #79ff76 212.34%);
}

.join {
  background: url(https://alfinagamulya.github.io/bangundatacenter/img/joins1.svg);
  height: 100%;
  padding-bottom: 30px;
  width: 100%;
}

.join h2 {
  font-size: 28px;
}

/* Halaman Contact Us */
.contact-us {
  height: 200px;
}

.contact-us .display-4 {
  margin-top: 30px;
  font-size: 34px;
}

.card-contact {
  background: linear-gradient(95.26deg, #fff965 4.26%, #79ff76 212.34%);
  border: white;
  width: 270px;
  height: 250px;
  border-radius: 15px;
}

.contact {
  margin-bottom: 50px;
}
/* END VERSION MOBILE APPS */

/*  Desktop Version */
@media (min-width: 992px) {
  .navbar-brand,
  .nav-link {
    color: white !important;
  }
  .navbar {
    background: transparent;
  }

  .logo-customer-app {
    background: url(/img/customer.svg);
  }

  .article .display-4 {
    font-size: 48px !important;
  }

  .btn-insight {
    background: linear-gradient(182.09deg, #fff965 -75.57%, #ff7676 125.16%);
    width: 10%;
  }

  .btn-insight:hover {
    background: linear-gradient(102.47deg, #fff965 4.3%, #ff7676 117.73%);
  }

  .btn-insight-1:hover {
    background: linear-gradient(182.09deg, #fff965 -75.57%, #ff7676 125.16%);
  }

  .team {
    margin-top: -400px !important;
  }
  .btn-contact {
    background: linear-gradient(241.98deg, #fff965 9.58%, #79ff76 86.42%);
    border-radius: 5px;
    width: 140px;
    color: rgb(0, 0, 0);
  }
  .join h2 {
    font-size: 34px;
  }

  .btn-contact:hover {
    background: linear-gradient(113.74deg, #fff965 12.6%, #79ff76 140.37%);
    border-radius: 5px;
  }
  .join {
    background: url(https://alfinagamulya.github.io/bangundatacenter/img/join.svg);
    height: 260px;
    width: 100%;
  }

  .jumbotron {
    margin-top: -90px;
  }

  .contact-us .display-4 {
    margin-top: 65px;
    font-size: 48px;
  }

  .home .display-4 {
    margin-top: 150px;
    font-size: 68px;
  }

  /* Client Logo */
  .clients {
    margin-top: -140px;
  }

  .home {
    background: url('https://alfinagamulya.github.io/bangundatacenter/img/banner.svg ');
    background-size: cover;
    height: 794px;
    text-align: center;
  }
  .contact-us {
    background: url('https://alfinagamulya.github.io/bangundatacenter/img/banner.svg ');
    background-size: cover;
    height: 300px;
    text-align: center;
  }

  .lead {
    color: #d6d6d6;
    text-align: center;
    padding-top: 18px;
    font-size: 18px;
  }

  .btn-second {
    width: 200px;
    background: linear-gradient(182.09deg, #fff965 -75.57%, #ff7676 125.16%);
  }
  .btn-second:hover {
    background: linear-gradient(102.47deg, #fff965 4.3%, #ff7676 117.73%);
  }

  p {
    color: #646464;
    font-size: 18px;
  }

  h2 {
    font-size: 48px;
  }

  h1 {
    font-size: 68px;
  }

  /* Join */
  .join h2 {
    font-size: 48px;
  }
}

.data-center .list-group {
  font-size: 20px;
}

/* Article */

.article {
  height: 400px;
}

.article .display-4 {
  margin-top: 65px;
  font-size: 48px;
}

.card-insight {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  padding: 15px;
  border-radius: 15px;
  border-color: white;
}

.card-insight:hover {
  box-shadow: 0 9px 80px 0 rgba(156, 156, 156, 0.2);
  transition: 0.9s;
}

.card-insight img:hover {
  transition: transform 0.25s, visibility 0.25s ease-in;
}

.card-insight a {
  color: #000000;
}

/* Halaman Faq */
.page-faq,
.about-page {
  margin-bottom: 90px;
}

/* Halaman Details */
/* .details img {
  margin-top: -90px;
  border-radius: 30px;
  justify-content: center;
  margin-left: 90px;
} */

/* Halaman Deteails Insisght */

.details {
  margin-top: -110px;
  margin-bottom: 90px;
}

.details img {
  border-radius: 30px;
}

/* Faq */
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
#accordion .panel {
  border: none;
  border-radius: 5px;
  box-shadow: none;
  margin-bottom: 10px;
  background: #f7f7f7;
}
#accordion .panel-heading {
  padding: 0;
  border: none;
  border-radius: 5px;
  background: transparent;
  position: relative;
}
#accordion .panel-title a {
  display: block;
  padding: 20px 30px;
  margin: 0;
  background: rgba(255, 255, 255, 0.4);
  font-size: 17px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  position: relative;
}
#accordion .panel-title a.collapsed {
  border: none;
}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before {
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  width: 30px;
  height: 30px;
  line-height: 27px;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  color: #fff;
  position: absolute;
  top: 15px;
  right: 30px;
  transform: rotate(180deg);
  transition: all 0.4s cubic-bezier(0.08, 1.09, 0.32, 1.275);
}
#accordion .panel-title a.collapsed:before {
  background: -webkit-linear-gradient(#ddd840, #ff3131 125.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: rotate(0deg);
}
#accordion .panel-body {
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.1);
  font-size: 15px;
  color: rgb(0, 0, 0);
  line-height: 28px;
  letter-spacing: 1px;
  border-top: none;
  border-radius: 5px;
}
/* End FAQ */

/* Custom BTN */

/* Text  */

p {
  color: #646464;
  font-size: 18px;
}

h2 {
  font-size: 48px;
}

h1 {
  font-size: 68px;
}

/* End Text  */

/* Navbar */
.navbar-nav a:hover {
  background: -webkit-linear-gradient(#fff965, #79ff76);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Height Content */
.solution {
  margin-top: 150px;
}

.location {
  margin-top: 150px;
}

.faq {
  margin-top: 150px;
}

.insight {
  margin-top: 150px;
  margin-bottom: 100px;
}

.join {
  margin-top: 100px;
}
